{{- if ne .chezmoi.os "windows" -}}
#!/bin/bash

OS="$(uname -s)"
case "${OS}" in
    Linux*)
        echo "Installing essential build tools for Rust..."
        if command -v dnf &> /dev/null; then
            sudo dnf groupinstall -y "Development Tools"
        elif command -v apt-get &> /dev/null; then
            sudo apt-get update && sudo apt-get install -y build-essential
        else
            echo "Error: No supported package manager found to install build tools. Please install them manually."
            exit 1
        fi
        ;;
    Darwin*)
        ;;
    *)
        echo "Unsupported operating system: ${OS}"
        exit 0
        ;;
esac

# Install rust
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable

source $HOME/.cargo/env
source ~/.profile

# Install cargo binstall
curl -L --proto '=https' --tlsv1.2 -sSf https://raw.githubusercontent.com/cargo-bins/cargo-binstall/main/install-from-binstall-release.sh | bash


{{- end -}}
